<div data-role="page" id="login">
	<%- include ("./partials/headers/TopNavBar"); %>
		<div data-role="content" class="ui-content content-main">
			<h3 class="text-regular">Good Morning John</h3>
			
			<div class="x-scroll-container">
				<a href="#">
					<%- include ("./partials/Tab_Item", {item: 'Deals' }); %>
				</a>
				<a href="#">
					<%- include ("./partials/Tab_Item", {item: 'Favourites' }); %>
				</a>
				<a href="#">
					<%- include ("./partials/Tab_Item", {item: 'Top Dishes' }); %>
				</a>
				<a href="#">
					<%- include ("./partials/Tab_Item", {item: 'Rewards' }); %>
				</a>
				<a href="#">
					<%- include ("./partials/Tab_Item", {item: '#Pizza' }); %>
				</a>
			</div>

			<div class="x-scroll-container">
				<a href="#">
					<%- include ("./partials/RestaurantWidget", {item: 'Deals' }); %>
				</a>
				<a href="#">
					<%- include ("./partials/RestaurantWidget", {item: 'Deals' }); %>
				</a>
				<a href="#">
					<%- include ("./partials/RestaurantWidget", {item: 'Deals' }); %>
				</a>
				<a href="#">
					<%- include ("./partials/RestaurantWidget", {item: 'Deals' }); %>
				</a>
				
			</div>

		</div><!-- /content -->
</div><!-- /page -->