<div data-role="page" id="single-dish">
	<%- include ("./partials/headers/DishNavBar.ejs", { dishData: dishData}); %>
		<div data-role="content" class="ui-content content-main">

			<div class="dish-header">
				<img src="<%= dishData.imageUrl %>" alt="<%= dishData.name %>">

				<div class="food-item-info">
					<h4>
						<%= dishData.name %>
					</h4>
					<p>
						<%= dishData.description %>
					</p>
					<p class="price-tag text-bold">LKR <%= dishData.price %>
					</p>
					<hr>
				</div>


			</div>

			<div class="dish-extras">
				<% extras.forEach((extra) =>{ %>
					<div class="extra-item">
						<div class="item-check">
							<label for="<%= extra.slug %>"><%= extra.name %></label>
							<input type="checkbox" id="<%= extra.slug %>" name="<%= extra.id %>" required>
						</div>
						<div>
							LKR <%= extra.price %>
						</div>
					</div>
				<% }); %>
			</div>

			<div class="dish-notes">
				<label for="dish-note">Notes</label>
				<textarea class="form-control" id="dish-note" placeholder="Write your allegies, special preparation notes here." rows="10"></textarea>
			</div>

		</div><!-- /content -->
		<%- include ("./partials/BottomNavBars/DishBottomNavBar"); %>
</div><!-- /page -->

<script type="text/javascript">
var qty = 1;
document.getElementById('qty').setAttribute('value', qty);


document.getElementById("qty-add").addEventListener("click", function() {
  qty = qty + 1;
  document.getElementById('qty').setAttribute('value', qty);
});

document.getElementById("qty-minus").addEventListener("click", function() {
	qty = qty - 1;
	if (qty < 1){
		qty = 1;
	}
	document.getElementById('qty').setAttribute('value', qty);
});

document.getElementById("add-to-cart").addEventListener("click", function() {
	var baseUrl = "<%=baseURL%>";
	var checkedBoxes = document.querySelectorAll('input[type=checkbox]:checked');
	var notes = document.getElementById('dish-note').value;

	var payload = {
		dishId : parseInt("<%=dishData.id%>"),
		restaurantId: parseInt("<%= dishData.restaurantId %>"),
		quantity: qty,
		notes: notes,
		extras: []
	}

	
	checkedBoxes.forEach((item) =>{
		payload.extras.push(parseInt(item.name));
	});
	
	console.log(typeof payload.extras);

	$.ajax({
		type: "POST",
		url: "/restaurants/add-to-cart",
		data: payload,
		success: function(){
			window.location.href = baseUrl + "/cart";
		}
	});
});

</script>