<div data-role="page" id="home">
	<%- include ("./partials/headers/RestaurantNavBar.ejs"); %>
		<div data-role="content" class="ui-content content-main">

            <div class=" aa  restaurant-header">

                <img src="<%= restaurantData.imageUrl %>" alt="">

                <div class="header-info">
                    <div class="header-2cols">
                        <h4><%= restaurantData.name %></h4>
                        <div class="tag">OPEN</div>
                    </div>
    
                    <div class="header-2cols">
                        <div class="icon-text">
                            <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M9 3h2l1 3a1 1 0 0 0 1 1h3c1 0 2 1 1 2l-3 2a1 1 0 0 0 0 1l1 3c0 1-1 2-2 1l-2-2a1 1 0 0 0-2 0l-2 2c-1 1-2 0-2-1l1-3a1 1 0 0 0 0-1L3 9C2 8 3 7 4 7h3a1 1 0 0 0 1-1l1-3z" />
                            </svg>
                            <div><%= restaurantData.rating %></div>
                        </div>
                        <div class="icon-text">
                            <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0z"/></svg>
                            <div><%= restaurantData.operationTimes.open %> - <%= restaurantData.operationTimes.close %></div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

			<div class="restaurant-content-area">
                <div class="x-scroll-container">
                    <% if(typeof categoriesAndDishes !== 'undefined'){ %>
                        <% categoriesAndDishes.forEach((categoryAndDish, index)=> { %>
                            <a href="#<%= categoryAndDish.slug %>" data-ajax="false">
                                <%- include ("./partials/Tab_Item", {item: categoryAndDish.name }); %>
                            </a>
                        <% }); %>
                    <% }; %>
                </div>
    
                <div class="restaurant-dishes">
                    <% if(typeof categoriesAndDishes !== 'undefined'){ %>
                        <% categoriesAndDishes.forEach((categoryAndDish, index)=> { %>
                            <div id="<%= categoryAndDish.slug %>" class="dish-group">
                                <h5><%= categoryAndDish.name %></h5>
                                <% categoryAndDish.dishes.forEach((dish)=> { %>
                                    <a href="<%= baseURL + '/restaurants/'+ restaurantData.id + '/dish/' + dish.id %>" data-ajax="false">
                                        <%- include ("./partials/RestaurantDishWidget", {widgetData: dish }); %>
                                    </a>
                                <% }); %>
                            </div>
                        <% }); %>
                    <% }else{ %>
                        <div>No data to display</div>
                    <% }; %>
                </div>
            </div>

		</div><!-- /content -->
</div><!-- /page -->